body{
    .btn1 {
        position: fixed;
        left: 1300px;
        top:50px
    
    }
    .btn1 {
        background-color: black;
        color: beige;
        width: 80px;
        height: 40px;
        padding: 10px 10px;
        font-size: 16px;
    }
    .btn2 {
        position: fixed;
        left: 1200px;
        top: 50px;

    }
    .btn2 {
        background-color: red;
        color: white;
        width: 80px;
        height: 40px;
        padding: 10px 10px;
        font-size: 16px;
    }
    background-color: black;
    background-image: url(TR-tr-20240122-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-position: contain ;
    background-position-x: center;
    background-position-y: 
    opacity: 0,9;
    

}
